.parent {
    position: relative;
    top: 0
        /*calc((100vh - 1200px)/2)*/
    ;
    left: 0
        /*calc((100vw - 550px)/2)*/
    ;
}

.monitor {
    position: absolute;
    top: 0;
    left: calc(301px + 210px + 173px);
}

.keyboard {
    position: absolute;
    top: 390px;
    left: calc(301px + 210px + 50px);
}

.mouse {
    position: absolute;
    top: 460px;
    left: calc(301px + 210px + 510px);
}

.case {
    position: absolute;
    top: 50px;
    left: calc(301px + 210px + 600px);
}

.speakers {
    position: absolute;
    top: 40px;
    left: calc(301px + 30px);
    width: 350px;
    height: auto;
}

.printer {
    position: absolute;
    top: 250px;
    left: 0;
}