.printer {
    width: auto;
    height: 20vh;
    display: inline-block;
    padding: 1vw;
}
.printer#right {
    float: right;
}
.printer#left {
    float: left;
}

table {
    width: 100%;
}
td {
    text-align: center;
}

td .printer {
    width: 50%;
    height: auto;
}